@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


#header4-9 H1 {
  color: #4c6972;
  text-align: center;
  font-family: 'Merriweather', serif;
}
#header4-9 P {
  color: #4c6972;
}
#header4-f P {
  text-align: center;
  color: #28324e;
  font-size: 22px;
}
#msg-box4-3 .mbr-header__text {
  color: #4c6972;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-article P {
  color: #4c6972;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #22c3c9;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 19px;
}
